ul,
ol {
  &.list-unstyled {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &.list-inline {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: inline;
    }
  }
}

dl {
  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 2rem;

    &:before {
      content: "—";
    }
  }

  &.list-unstyled {
    dt {
      font-weight: normal;
    }

    dd {
      margin: 0;

      &:before {
        content: "";
      }
    }
  }
}
