@import "../variables";

$queries: (
  "sm": $bp-sm,
  "md": $bp-md,
  "lg": $bp-lg,
  "xl": $bp-xl,
);

@mixin gutters($gap) {
  @for $i from 1 to 12 {
    .col-#{$i} {
      flex: 0 0 auto;
      width: calc(calc(calc(100% / 12) * #{$i}) - #{$gap});
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col {
    flex: 1 0 0%;
  }

  @for $i from 1 to 13 {
    .col-#{$i} {
      flex: 0 0 auto;
      width: calc(calc(100% / 12) * $i);
    }
  }

  &.gutters {
    @include gutters(0.5rem);
  }

  @for $i from 1 to 6 {
    &.gutters-#{$i} {
      $gutter: calc(1rem * $i);

      @include gutters($gutter);
    }
  }

  @each $key, $val in $queries {
    @for $i from 1 to 13 {
      .col-#{$key}-#{$i} {
        flex: 1 0 0%;

        @media screen and (min-width: #{$val}) {
          flex: 0 0 auto;
          width: calc(calc(100% / 12) * $i);
        }
      }
    }
  }
}
