@import "../variables";

.appbar {
  display: flex;
  min-height: 56px;
  align-items: center;
  background-color: inherit;
  gap: 1rem;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  p {
    margin-bottom: 0;
  }

  &.sticky {
    position: sticky;
    top: 0;
  }

  &.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  &.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: none !important;
  }

  &.elevated {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .appbar-title {
    flex-grow: 1;
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    ul,
    ol {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      margin: 0;
      padding: 0;
    }
  }
}
