@import "../variables";

.jumbotron {
  position: relative;
  margin: 1rem auto;
  border-radius: $radius-xl;
  background-color: lighten($terziary, 30%);

  &.outlined {
    background-color: inherit;
    border: 1px solid $terziary;
  }

  .jumbotron-body {
    padding: 3rem 1rem;
  }

  img {
    border-radius: $radius-xl;
    width: 100%;
    vertical-align: bottom;
  }
}
