@import "../variables";

body {
  background-color: $white;
  color: $black;
}

a {
  color: $info;

  &:visited {
    color: $info;
  }
}

mark {
  background-color: $highligth;
}

code,
kbd {
  background-color: $black;
  color: $white;
  border-radius: 4px;
}

@import "./_tables.scss";
