blockquote.blockquote {
  font-size: 1.2rem;
  margin: 1rem 2rem;

  footer {
    font-size: 1rem;
    font-weight: 100;

    cite {
      font-style: italic;
    }

    &:before {
      content: "—";
    }
  }
}
