$font-family: "Poppins", Arial, Helvetica, sans-serif;

// Breakpoints
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1200px;

// Border Radius
$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 18px;

// Neutral colors
$white: #fbfef9;
$black: #191919;
$grey: #6c757d;
$light-grey: #adb5bd;
$dark-grey: #495057;
$highlight: #fcf6b1;

// Events
$info: #00a1e4;
$warning: #f5b700;
$error: #b20d30;
$success: #248232;

// Default palette
$primary: #5438dc;
$secondary: #357ded;
$terziary: #5bc0be;
