$white: #fbfef9;
$black: #191919;
$info: #00a1e4;

:root {
  --white: #{$white};
  --black: #{$black};
  --info: #{$info};
}

body {
  background-color: var(--white);
}

a {
  color: var(--info);

  &:visited {
    color: var(--info);
  }
}
