@import "./_variables.scss";

@mixin reset-container {
  max-width: 100%;
  margin: 0 1rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;

  @media screen and (max-width: calc($bp-md + 1rem)) {
    @include reset-container();
  }

  &#{-xl} {
    max-width: $bp-xl;
    margin: 0 auto;

    @media screen and (max-width: calc($bp-xl + 1rem)) {
      @include reset-container();
    }
  }

  &#{-lg} {
    max-width: $bp-lg;
    margin: 0 auto;

    @media screen and (max-width: calc($bp-lg + 1rem)) {
      @include reset-container();
    }
  }

  &#{-md} {
    max-width: $bp-md;
    margin: 0 auto;

    @media screen and (max-width: calc($bp-md + 1rem)) {
      @include reset-container();
    }
  }

  &#{-sm} {
    max-width: $bp-sm;
    margin: 0 auto;

    @media screen and (max-width: calc($bp-sm + 1rem)) {
      @include reset-container();
    }
  }
}
