a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr,
acronym {
  text-decoration: underline dotted;
}

address {
  font-style: italic;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2.2rem;
}

h4,
.h4 {
  font-size: 2rem;
}

h5,
.h5 {
  font-size: 1.8rem;
}

h6,
.h6 {
  font-size: 1.2rem;
}

.subtitle,
.subtitle-2,
.body2,
.caption {
  margin-top: 0;
  margin-bottom: 1rem;
}

.subtitle-1 {
  font-size: 1rem;
}

.subtitle-2 {
  font-size: 1rem;
  font-weight: 600;
}

.body2 {
  font-size: 0.8rem;
}

.caption {
  font-size: 0.6rem;
}

.small,
small {
  font-size: 0.8rem;
}

.overline {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

b,
strong,
.bold,
.strong {
  font-weight: 600;
}

i,
em,
.italic {
  font-style: italic;
}

del,
s,
strike,
.del {
  text-decoration: line-through;
}

ins,
u,
.underlined {
  text-decoration: underline;
}

kbd,
code {
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}

kbd {
  padding: 0 8px;
}

pre {
  white-space: pre;
  font-weight: 400;

  code {
    display: block;
    padding: 0 12px;
    overflow-x: auto;
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    user-select: all !important;
  }
}

sub,
.sub {
  vertical-align: sub;
  font-size: 0.4rem;
}

sup,
.sup {
  vertical-align: super;
  font-size: 0.5rem;
}
